{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}コメント編集{% endblock%}
{% block contents %}
<div class="container-fluid">
    <div class="container-inner">
        <section>
            <header class="section-header">
                <h2 class="page-heading">コメント編集</h2>
                <div class="line__left">
                </div>
            </header>
            <!-- Flash Messages -->
            <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %} -->

            <!-- Form -->
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "success"}) }}
        </section>

    </div>
</div>
{% endblock %}
